<!--The content below is only a placeholder and can be replaced.-->
<div class="barre">
    <div class="">
        <nav class="Navibar">
            <div class = "square">
                <a routerLink="Articles" class="navtext">Liste des articles </a>
            </div>
            <div class = "square">
                <a routerLink="add" class="navtext"> Ajouter article </a>
            </div>
            <div class = "square">
                <a routerLink="Commentaires" class="navtext"> Liste des commentaires </a>
            </div>
            <div class = "square">
                <a routerLink="addCom" class="navtext"> Ajouter un commentaire</a>
            </div>
        </nav>
    </div>
</div>
    <router-outlet></router-outlet>